#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  font-size: 50px;
}

.app button {
  background-color: #04aa6d;
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

#lobby-view {
  font-size: 20px;
  text-align: center;
}

#lobby-view table {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

#lobby-view td {
  border: 1px solid #aaa;
}

#lobby-view button,
#lobby-view input,
#lobby-view select,
#lobby-view textarea {
  font: inherit;
}
