html,
body,
#root {
  height: 100%;
}

/* Palette from https://lospec.com/palette-list/eerie-blurple-9 */

:root {
  --primary-color: #49536a;
  --secondary-color: #1f1f24;
  --board-dark: #565886;
  --board-mid: #5d66a2;
  --board-light: #8d89b3;
  --font-light: #f6f4f6;
  --font-dark: #1f1f24;
  --selection-light: #38dcff;
  --selection-dark: #ff5252;
}

body {
  margin: 0;
  background: var(--primary-color);
}

.app {
  font-size: 64px;
  margin-top: 2%;
  color: var(--font-light);
  text-align: center;
}

.app button {
  background-color: var(--secondary-color);
  border: solid;
  border-color: var(--primary-color);
  font-size: 64px;
  color: var(--font-light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#lobby-view {
  color: var(--font-light);
  font-size: 20px;
  text-align: center;
}

#lobby-view table {
  font-size: 25px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

#lobby-view tr {
  border: 2px solid var(--secondary-color);
}

#lobby-view button,
#lobby-view input,
#lobby-view select,
#lobby-view textarea {
  font: inherit;
}
