html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #49536a;
  color: #000;
}

.app {
  font-size: 64px;
  color: #fff;
  text-align: center;
}

.app button {
  background-color: #232a34;
  border: solid;
  border-color: #49536a;
  font-size: 64px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#lobby-view {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

#lobby-view table {
  font-size: 25px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

#lobby-view tr {
  border: 2px solid #232a34;
}

#lobby-view button,
#lobby-view input,
#lobby-view select,
#lobby-view textarea {
  font: inherit;
}
